backend-pays/node-red/flows.json
[
  {
    "id": "tab_alerting",
    "type": "tab",
    "label": "FutureKawa Alerting",
    "disabled": false,
    "info": "Flow 1 : alerting seuils MQTT — Flow 2 : péremption quotidienne"
  },
  {
    "id": "conf_mqtt",
    "type": "mqtt-broker",
    "name": "FutureKawa MQTT",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "nodered-futurekawa",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "", "birthQos": "0", "birthRetain": "false", "birthPayload": "", "birthMsg": {},
    "closeTopic": "", "closeQos": "0", "closeRetain": "false", "closePayload": "", "closeMsg": {},
    "willTopic": "", "willQos": "0", "willRetain": "false", "willPayload": "", "willMsg": {},
    "sessionExpiry": ""
  },

  {
    "id": "n01_mqtt_in",
    "type": "mqtt in",
    "z": "tab_alerting",
    "name": "Mesures capteurs",
    "topic": "futurekawa/mesure",
    "qos": "1",
    "datatype": "json",
    "broker": "conf_mqtt",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 80,
    "wires": [["n02_check_thresholds"]]
  },
  {
    "id": "n02_check_thresholds",
    "type": "function",
    "z": "tab_alerting",
    "name": "Vérifier seuils",
    "func": "const { warehouseId, temperature, humidity } = msg.payload;\n\nconst THRESHOLDS = {\n  \"00000000-0000-0000-0000-000000000001\": { countryName: \"Brésil\", idealTemp: 29, tempTolerance: 3, idealHumidity: 55, humidityTolerance: 2 },\n  \"00000000-0000-0000-0000-000000000002\": { countryName: \"Équateur\", idealTemp: 31, tempTolerance: 3, idealHumidity: 60, humidityTolerance: 2 },\n  \"00000000-0000-0000-0000-000000000003\": { countryName: \"Colombie\", idealTemp: 26, tempTolerance: 3, idealHumidity: 80, humidityTolerance: 2 }\n};\n\nconst config = THRESHOLDS[warehouseId];\nif (!config) {\n  node.warn(\"Entrepôt inconnu : \" + warehouseId);\n  return null;\n}\n\nconst alerts = [];\nconst tempMin = config.idealTemp - config.tempTolerance;\nconst tempMax = config.idealTemp + config.tempTolerance;\nif (temperature < tempMin || temperature > tempMax) {\n  alerts.push({ type: \"SEUIL_TEMPERATURE\", message: \"Température \" + temperature + \"°C hors seuil [\" + tempMin + \"–\" + tempMax + \"°C] - \" + config.countryName });\n}\n\nconst humMin = config.idealHumidity - config.humidityTolerance;\nconst humMax = config.idealHumidity + config.humidityTolerance;\nif (humidity < humMin || humidity > humMax) {\n  alerts.push({ type: \"SEUIL_HUMIDITE\", message: \"Humidité \" + humidity + \"% hors seuil [\" + humMin + \"–\" + humMax + \"%] - \" + config.countryName });\n}\n\nif (alerts.length === 0) { return null; }\n\nmsg.warehouseId = warehouseId;\nmsg.alertTypes = alerts;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 80,
    "wires": [["n03_set_lots_url"]]
  },
  {
    "id": "n03_set_lots_url",
    "type": "function",
    "z": "tab_alerting",
    "name": "URL lots",
    "func": "const base = env.get('BACKEND_PAYS_URL') || 'http://host.docker.internal:3001';\nmsg.url = base + '/api/lots?warehouseId=' + msg.warehouseId;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 80,
    "wires": [["n04_get_lots"]]
  },
  {
    "id": "n04_get_lots",
    "type": "http request",
    "z": "tab_alerting",
    "name": "GET lots actifs",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 690,
    "y": 80,
    "wires": [["n05_prepare_alerts"]]
  },
  {
    "id": "n05_prepare_alerts",
    "type": "function",
    "z": "tab_alerting",
    "name": "Préparer alertes",
    "func": "const lots = msg.payload;\nconst alertTypes = msg.alertTypes;\n\nconst activeLots = lots.filter(l => l.status !== 'PERIME');\nif (activeLots.length === 0) { return null; }\n\nconst alertsToCreate = [];\nfor (const lot of activeLots) {\n  for (const alertType of alertTypes) {\n    alertsToCreate.push({ lotId: lot.id, type: alertType.type, message: alertType.message, lotReference: lot.reference });\n  }\n}\n\nmsg.payload = alertsToCreate;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 80,
    "wires": [["n06_split_alerts"]]
  },
  {
    "id": "n06_split_alerts",
    "type": "split",
    "z": "tab_alerting",
    "name": "Split alertes",
    "splt": "\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1060,
    "y": 80,
    "wires": [["n07_prepare_post"]]
  },
  {
    "id": "n07_prepare_post",
    "type": "function",
    "z": "tab_alerting",
    "name": "Préparer POST alerte",
    "func": "const alert = msg.payload;\nconst base = env.get('BACKEND_PAYS_URL') || 'http://host.docker.internal:3001';\nmsg.alertInfo = { type: alert.type, message: alert.message, lotReference: alert.lotReference };\nmsg.url = base + '/api/alerts';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = { lotId: alert.lotId, type: alert.type, message: alert.message };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1240,
    "y": 80,
    "wires": [["n08_post_alert"]]
  },
  {
    "id": "n08_post_alert",
    "type": "http request",
    "z": "tab_alerting",
    "name": "POST /api/alerts",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1420,
    "y": 80,
    "wires": [["n09_prepare_email"]]
  },
  {
    "id": "n09_prepare_email",
    "type": "function",
    "z": "tab_alerting",
    "name": "Préparer email",
    "func": "const alertInfo = msg.alertInfo;\nmsg.to = env.get('ALERT_EMAIL_TO') || '';\nmsg.topic = '[FutureKawa] Alerte : ' + alertInfo.type;\nmsg.payload = 'Alerte détectée pour le lot ' + alertInfo.lotReference + '\\n\\nType : ' + alertInfo.type + '\\nDétail : ' + alertInfo.message + '\\n\\nVérifiez le tableau de bord FutureKawa.';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1600,
    "y": 80,
    "wires": [["n10_send_email"]]
  },
  {
    "id": "n10_send_email",
    "type": "e-mail",
    "z": "tab_alerting",
    "name": "Envoyer email alerte",
    "server": "${SMTP_HOST}",
    "port": "${SMTP_PORT}",
    "secure": false,
    "tls": true,
    "dname": "",
    "x": 1790,
    "y": 80,
    "wires": []
  },

  {
    "id": "n11_cron",
    "type": "inject",
    "z": "tab_alerting",
    "name": "Cron quotidien",
    "props": [{"p": "payload"}],
    "repeat": "86400",
    "crontab": "",
    "once": true,
    "onceDelay": 10,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 280,
    "wires": [["n12_set_all_lots_url"]]
  },
  {
    "id": "n12_set_all_lots_url",
    "type": "function",
    "z": "tab_alerting",
    "name": "URL tous les lots",
    "func": "const base = env.get('BACKEND_PAYS_URL') || 'http://host.docker.internal:3001';\nmsg.url = base + '/api/lots';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 280,
    "wires": [["n13_get_all_lots"]]
  },
  {
    "id": "n13_get_all_lots",
    "type": "http request",
    "z": "tab_alerting",
    "name": "GET tous les lots",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 520,
    "y": 280,
    "wires": [["n14_check_expiry"]]
  },
  {
    "id": "n14_check_expiry",
    "type": "function",
    "z": "tab_alerting",
    "name": "Filtrer lots périmés",
    "func": "const lots = msg.payload;\nconst now = new Date();\nconst ONE_YEAR_MS = 365 * 24 * 60 * 60 * 1000;\n\nconst expired = lots.filter(lot => {\n  if (lot.status === 'PERIME') return false;\n  return (now - new Date(lot.storedAt)) > ONE_YEAR_MS;\n});\n\nif (expired.length === 0) { return null; }\n\nmsg.payload = expired.map(lot => ({\n  lotId: lot.id,\n  type: 'PEREMPTION',\n  message: 'Lot ' + lot.reference + ' périmé — stocké depuis ' + Math.floor((now - new Date(lot.storedAt)) / (24 * 60 * 60 * 1000)) + ' jours',\n  lotReference: lot.reference\n}));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 280,
    "wires": [["n15_split_expired"]]
  },
  {
    "id": "n15_split_expired",
    "type": "split",
    "z": "tab_alerting",
    "name": "Split périmés",
    "splt": "\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 890,
    "y": 280,
    "wires": [["n16_prepare_expiry_post"]]
  },
  {
    "id": "n16_prepare_expiry_post",
    "type": "function",
    "z": "tab_alerting",
    "name": "Préparer POST péremption",
    "func": "const alert = msg.payload;\nconst base = env.get('BACKEND_PAYS_URL') || 'http://host.docker.internal:3001';\nmsg.alertInfo = { type: alert.type, message: alert.message, lotReference: alert.lotReference };\nmsg.url = base + '/api/alerts';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = { lotId: alert.lotId, type: alert.type, message: alert.message };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1080,
    "y": 280,
    "wires": [["n17_post_expiry_alert"]]
  },
  {
    "id": "n17_post_expiry_alert",
    "type": "http request",
    "z": "tab_alerting",
    "name": "POST /api/alerts péremption",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1280,
    "y": 280,
    "wires": [["n18_prepare_expiry_email"]]
  },
  {
    "id": "n18_prepare_expiry_email",
    "type": "function",
    "z": "tab_alerting",
    "name": "Préparer email péremption",
    "func": "const alertInfo = msg.alertInfo;\nmsg.to = env.get('ALERT_EMAIL_TO') || '';\nmsg.topic = '[FutureKawa] Lot périmé : ' + alertInfo.lotReference;\nmsg.payload = 'Alerte de péremption pour le lot ' + alertInfo.lotReference + '\\n\\n' + alertInfo.message + '\\n\\nVérifiez le tableau de bord FutureKawa.';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1480,
    "y": 280,
    "wires": [["n19_send_expiry_email"]]
  },
  {
    "id": "n19_send_expiry_email",
    "type": "e-mail",
    "z": "tab_alerting",
    "name": "Envoyer email péremption",
    "server": "${SMTP_HOST}",
    "port": "${SMTP_PORT}",
    "secure": false,
    "tls": true,
    "dname": "",
    "x": 1680,
    "y": 280,
    "wires": []
  }
]
